@model Bewander.ViewModels.ChatboxViewModel
@using Microsoft.AspNet.Identity

<!--Chat: Conversation Classes-->
<div class="chat-convo-container" id="chat-convo-@Model.RelationshipID">
    <!--JR3-->
    <div class="chat-convo-header" style="background-color:#555" ondblclick="HideChatConvo('chat-convo-@Model.RelationshipID')">

        @Html.Action("LilMessagePic", "Images", new { IDtargetuser = @Model.TargetUser.UserID })
        <h4 class="name-header">@Model.TargetUser.Name</h4>
        @if ((int)Model.relationshipStatus == 4)
        {
            <i class="fa fa-user-plus add-user-friend" onclick="AddFriend('@Model.TargetUser.UserID')"></i>
        }
        <i class="fa fa-close close-icon" onclick="RemoveElement(@Model.RelationshipID)"></i>
    </div>

    @* Time stamps now print after a minute has elapsed for every message. *@
    <ul class="conversation" id="conversation-@Model.RelationshipID">
        @foreach (var message in Model.Messages)
        {
            string timeStamp = message.TimeStamp(message.DateTime);
            if (message.UserID == User.Identity.GetUserId())
            {
                <li class="current-user-message" style="width:50%" >@message.Content</li>
                if (timeStamp.Contains("ago"))
                {
                    // Check for more than 1 hour.
                    if (timeStamp.Contains("hr"))
                    {
                        <li class="date-time">Over @timeStamp</li>
                    }
                    if (timeStamp.Contains("ago") && !timeStamp.Contains("hr"))
                    {
                        <li class="date-time">@timeStamp</li>
                    }
                }
            }
            else
            {
                <li class="chat-partner-message" style="width:45%;"> @message.Content </li>
				if (timeStamp.Contains("ago"))
                {
                    // Check for more than 1 hour.
                    if (timeStamp.Contains("hr"))
                    {
                        <li class="date-time-chat-message">Over @timeStamp</li>
                    }
                    if (timeStamp.Contains("ago") && !timeStamp.Contains("hr"))
                    {
                        <li class="date-time-chat-message">@timeStamp</li>
                    }
                }
            }
        }

    </ul>

    @*
        A function to check through every single list item on this view
        and refresh the time stamp. Currently does nothing.

    <script type="text/javascript">
        window.setInterval(checkTime, 0);
        function checkTime() {
            $("li").each(function () {
                @Model.Messages
            });
        }
    </script>
    *@
    @Html.Editor("chat-user-input-" + Model.RelationshipID, new { htmlAttributes = new { @class = "chat-user-input", placeholder = "Message...", relID = Model.RelationshipID } })
</div>
<h4 class="target-user-tab" id="chat-convo-@Model.RelationshipID-tab" onclick="ShowChatConvo('chat-convo-@Model.RelationshipID')">@Model.TargetUser.Name</h4>